n8n_workflow/Expense-Tracker-Workflow.json
{
  "name": "recipt app",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7335a220-cf41-4341-9356-924a71f12b90",
              "leftValue": "={{ $json.docs[0].message }}",
              "rightValue": " success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "cc31d01d-4807-4870-ad32-9f14c3983d3a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhook/ocr-result",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items ",
              "value": "={{ $json.docs[0].processed.issuerName }}"
            },
            {
              "name": "Amount",
              "value": "={{ $json.docs[0].processed.grandTotal }}"
            },
            {
              "name": "Date",
              "value": "={{ $json.docs[0].processed.invoiceDate }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Webhook1').item.json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "610c5552-1823-43a3-8a11-11877307e431",
      "name": "ส่งข้อมูล"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhook/ocr-result",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items",
              "value": "=เกิดข้อผิดพลาด"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "91fac915-a013-4374-b9da-47846e4d3632",
      "name": "ส่งข้อผิดพลาด"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "=image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -672,
        96
      ],
      "id": "7aa0a8d4-3974-4252-b53f-40cbebed3a82",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "image0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -896,
        96
      ],
      "id": "5967a8b0-3b8f-4e77-9c01-3cf53e791301",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-webhook",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        112
      ],
      "id": "adfdbe5f-f229-4703-a3be-893fc1922ad6",
      "name": "Webhook1",
      "webhookId": "16a1e5f2-cad1-430c-832a-295cfdfe8f5d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iapp.co.th/ocr/v3/receipt/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "demo"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "dfbd6db7-19d2-482f-ab89-dbd5b7eece7b",
      "name": "iApp Recipt OCR"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "ส่งข้อมูล",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ส่งข้อผิดพลาด",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "iApp Recipt OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iApp Recipt OCR": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad456c40-8545-4082-b55f-fc34768ffaa4",
  "meta": {
    "instanceId": "076ba138cc2ab445b0288e2c3529d9e850d9b8b35c9561053b4de7828992d5c1"
  },
  "id": "dEBjY5ZIVBcfrl5V",
  "tags": []
}