n8n_workflow/Expense-Tracker-Workflow.json
{
  "name": "recipt app",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7335a220-cf41-4341-9356-924a71f12b90",
              "leftValue": "={{ $json.docs[0].message }}",
              "rightValue": " success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        768
      ],
      "id": "6416df17-0a47-4388-bfaf-d439196e969b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhook/ocr-result",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items ",
              "value": "={{ $json.docs[0].processed.issuerName }}"
            },
            {
              "name": "Amount",
              "value": "={{ $json.docs[0].processed.grandTotal }}"
            },
            {
              "name": "Date",
              "value": "={{ $json.docs[0].processed.invoiceDate }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Webhook1').item.json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        672
      ],
      "id": "bfa3f535-aec1-48d3-9d7b-5d48c1a0dcc6",
      "name": "ส่งข้อมูล"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhook/ocr-result",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items",
              "value": "=เกิดข้อผิดพลาด"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        864
      ],
      "id": "65e9d9cb-5802-4dfc-ac57-0aee926d6608",
      "name": "ส่งข้อผิดพลาด"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-webhook",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2544,
        768
      ],
      "id": "4d65678f-7dbc-4a81-b3d2-e4d0bf8aa6b3",
      "name": "Webhook1",
      "webhookId": "16a1e5f2-cad1-430c-832a-295cfdfe8f5d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.iapp.co.th/ocr/v3/receipt/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "demo"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        768
      ],
      "id": "c0870441-78eb-4a9d-8daf-45456cf365a4",
      "name": "iApp Recipt OCR"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "ส่งข้อมูล",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ส่งข้อผิดพลาด",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "iApp Recipt OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iApp Recipt OCR": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1f89dc29-e645-45fc-99b4-a4be86326b2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f740b707eb37c7ea0a05c56d07c5b3c5fb17ccdec792d3b0452ea7542a04d2b0"
  },
  "id": "U27bObFkbUf9yvIM",
  "tags": []
}